<div class="navbar navbar-dark h-100">
    <div class="container-fluid h-100 d-flex flex-row justify-content-start align-items-center">
        <div class="navbar-brand h-100 d-flex flex-row gap-2" role="button" onclick="window.location.replace('/')">
            <img src="~/Images/pet-paradise-logo.png" style="height:100%">
            <h1 class="navbar-brand h3 fw-bolder stext-lighter">PetParadise</h1>
        </div>
        
        @if (ViewBag.EnableSearchMenu)
        {
            <div id="pet-nav-controls" class="w-50 d-flex flex-row gap-4">
                <form id="searchForm" class="flex-grow-1 d-flex flex-row">
                    <input id="search-input" type="search" name="search" autocomplete="on" class="form-control flex-grow-1" />
                    <button type="submit" class="flex-grow-1 btn btn-secondary">Search</button>
                </form>
                <ul class="flex-grow-1 nav navbar-nav d-flex flex-row gap-3">
                    <li class="nav-item" role="button">
                        <a href="/pet/@ViewBag.PetId" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Feeds" ? "active" : "")">Feeds</a>
                    </li>
                    <li class="nav-item" role="button">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "NearbyClinic" ? "active" : "")">Nearby Clinic</a>
                    </li>
                    <li class="nav-item" role="button">
                        <a href="/profile/@ViewBag.PetId" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")">My Profile</a>
                    </li>
                </ul>
            </div>
        }
    </div>
    @if (ViewBag.EnableUserMenu)
    {
        <div class="navbar navbar-dark position-absolute end-0 me-2 d-flex flex-row">
            <ul class="navbar-nav">
                <li class="nav-item d-flex flex-row justify-content-center align-items-center gap-1">
                    <span class="stext-lighter">Welcome back, </span>
                    <a class="nav-link text-decoration-underline fw-bold" role="button">@ViewBag.Username</a>
                    <button id="logout" class="btn btn-outline-danger ms-2 fw-bold stext-darker" role="button">Logout</button>
                </li>
            </ul>
        </div>
    }
</div>

<script>

    const form = $("#searchForm");

    form.submit(e=> {
        e.preventDefault();
        const query = $("#search-input").val();
        window.location.href = "/search/" + query;

    });

    $('#logout').click(() => {
        fetch('/auth/logout', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Session-Token": getSessionToken(),
                "Authorization": "Bearer " + getSessionToken()
            },
            body: ""
        })
        .then((res) => {
            localStorage.clear();
            window.location.replace('/');
        })
    })
</script>
