<div class="vh-100 d-flex flex-column align-items-center justify-content-center gap-lg-5">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
        <h1 class="w-25 text-lg-center text-center fw-bold">
            Welcome to Pet Paradise!
        </h1>
    </div>
    <div class="uk-card d-flex flex-column h-50 w-25 text-center">
        @RenderPage("Login.cshtml")
    </div>
</div>

<script>
    const accountTypeId = localStorage.accountType;
    const url = "/auth/verify";
    const sesh = getSessionToken();

    fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Session-Token": sesh
        }
    })
    .then(res=> {
        if (res.ok) {
            if (accountTypeId == 1) {
                window.location.replace('/account/petdashboard');
            }
            else if (accountTypeId == 2) {
                console.log('clinic you are, soon!');
            }
        }
        else {
            console.log("hey please log in!");
        }
    })
</script>