<div class="w-100 d-flex flex-column justify-content-center align-items-center">

    <h2>My Pets</h2>
   
    <div class="w-75 d-flex flex-column justify-content-center align-items-center">
        <div class="w-50 p-4 d-flex flex-wrap flex-row justify-content-center align-items-center gap-4 cursor-pointer">
            @*auto generate pet profiles *@

            @* add button *@
            <div class="d-flex p-4 flex-row justify-content-center align-items-center gap-2">
                <button id="addPetBtn" class="btn border-0">
                    <i class="fa-solid fa-circle-plus fa-2xl"></i>
                </button>
            </div>
        </div>
    </div>
</div>