<div class="w-100 d-flex flex-column justify-content-start align-items-start px-4 gap-5">
    
    <div class="w-100 d-flex flex-column justify-content-end align-items-start shadow p-4 rounded-3">
        <div class="d-flex flex-row justify-content-center align-items-center gap-2">
            <img id="profile-photo" class="rounded-circle" alt="user" src="https://ui-avatars.com/api/?background=random&bold=true&name=User" />
            <div class="d-flex flex-column justify-content-start align-items-start lh-1">
                <h3 class="fw-bold">User Profile</h3>
                <p class="fw-bold">0 Followers</p>
                <a class="stext-darker" href="#">Edit Profile</a>
            </div>
        </div>
    </div>

    <div class="w-100 d-flex flex-row justify-content-center align-items-start gap-5">

        <div class="w-25 d-flex flex-column justify-content-center align-items-center p-4 shadow">
            @*  pet color *@
            <div class="w-100 p-2">
                <h6 class="fw-bold">Color</h6>
                <p>Blue</p>
            </div>

            @*  pet category *@
            <div class="w-100 p-2">
                <h6 class="fw-bold">Category</h6>
                <p>Duck</p>
            </div>

            @*  pet breed *@
            <div class="w-100 p-2">
                <h6 class="fw-bold">Breed</h6>
                <p>Totodile</p>
            </div>
        </div>

        <div class="w-100 d-flex flex-column justify-content-start align-items-start rounded-3">
            @* add post *@
            <div class="p-2">
                <h3 class="fw-bold">Post</h3>
            </div>
            <div class="w-75 shadow p-4 d-flex flex-row align-items-center gap-2">
                <img id="profile-photo" class="rounded-circle" alt="user" src="https://ui-avatars.com/api/?background=random&bold=true&name=User" style="height:48px;width:48px;" />
                <div class="d-flex flex-column justify-content-start align-items-center" role="button">
                    <div class="rounded-pill border border-dark px-4 py-2 user-select-none">Bark, meow, or hiss your thoughts!</div>
                </div>
            </div>

            <div class="p-2">
                <h3 class="fw-bold">My Feeds</h3>
            </div>

            @* post box *@
            <div class="w-75 shadow p-4 d-flex flex-column align-items-start justify-content-start gap-2">
                <div class="w-100 d-flex flex-row justify-content-start align-items-center gap-2">
                    <img id="profile-photo" class="rounded-circle" alt="user" src="https://ui-avatars.com/api/?background=random&bold=true&name=User" style="height:36px;width:36px;" />
                    <h6 class="fw-bold">User Name</h6>
                </div>
                <div class="w-100 d-flex flex-column justify-content-start align-items-start">
                    <div class="w-100">
                        <p class="w-100 text-wrap text-break fs-5 lh-sm">
                            This is my thought aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        </p>
                        <p class="fst-italic fs-6">January 7, 2022</p>
                    </div>
                </div>
                <div class="w-100 d-flex flex-column">
                    <p class="fw-bold">0 Treats</p>
                    <div class="w-100 d-flex flex-row justify-content-evenly align-items-center gap-2">
                        <button class="flex-grow-1 btn btn-primary">Give Treats</button>
                        <button class="flex-grow-1 btn btn-success">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>